{% extends 'base.html' %}
{% block title %}
Document Detail
{% endblock %}

{% block content %}

<div style="overflow-x:scroll">
<table class="highlight">
        <thead>
                <tr>
                        <th>Type </th>
                        <td>
                        {% if document.type == 0 %}
                        Docx
                        {% else %}
                        Page
                        {% endif %}
                        </td>
                </tr>
                <tr>
                        <th>Name</th>
                                        <td>{{document.name}}</td>
                </tr>
                <tr>
                        <th>URL</th>
                        <td>{{document.url}}</td>
                </tr>
                <tr>
                        <th>Date</th>
                        <td>{{document.created_at}}</td>
                </tr>
                <tr>
                        <th>Contents</th>
                        
                        <td>{{document.contents}}</td>
                </tr>
                <tr>
                        <th>Status</th>
                        {% if 'Process' in document.status %}
                        <td class="orange-text">
                        {% elif 'Fail' in document.status %}
                        <td class="red-text">
                        {% else %}
                        <td class="green-text">
                        {% endif %}
                        {{document.status}}
                        </td>
                </tr>
                <tr>
                        <th>Status Message</th>
                        {% if 'Process' in document.status %}
                        <td class="orange-text">
                        {% elif 'Fail' in document.status %}
                        <td class="red-text">
                        {% else %}
                        <td class="green-text">
                        {% endif %}
                        {{document.status_message}}
                        </td>
                </tr>
        </thead>
</table>
</div>
<script>
s = document.getElementById("asdf").innerHTML;
document.getElementById("asdf").innerHTML = s.replace(/[<>]/,"");
</script>
{% endblock %}