{% extends 'base.html' %}
{% block title %}
Document List
{% endblock %}

{% block content %}

<table class="highlight">
        <thead>
                <tr>
                <th>Type </th>
                <th>Name</th>
                <th>URL</th>
                <th>Date</th>
                <th>Contents</th>
                <th>Status</th>
                </tr>
        </thead>

        <tbody>
                {% for document in documents %}
                <tr onclick="window.location='{% url 'app:documents_detail' document.id %}'">
                <td>
                {% if document.type == 0 %}
                Docx
                {% else %}
                Page
                {% endif %}
                </td>
                <td>{{document.name}}</td>
                <td>{{document.url}}</td>
                <td>{{document.created_at}}</td>
                <td>{{document.contents|truncatechars:30}}</td>
                {% if 'Process' in document.status %}
                <td class="orange-text">
                {% elif 'Fail' in document.status %}
                <td class="red-text">
                {% else %}
                <td class="green-text">
                {% endif %}
                {{document.status}}</td>
                </tr>
                {% endfor %}
        </tbody>
</table>


{% endblock %}