{% extends 'base.html' %}
{% load material_form %}
<script>
 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
</script>
{% block title %}
Document Upload
{% endblock %}

{% block content %}

<form method="post" action="{% url 'app:documents_upload' %}" id="form_login">
{% csrf_token %}
{% form form=form %} {% endform %}
    <div class="error">
    {{ form.errors }}
    </div>
    <button name="_submit" type="submit" class="btn" >Upload</button>
</form>

{% endblock %}