{% extends 'base.html' %}
{% load material_form %}
{% block title %}
Login
{% endblock %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>
$(document).ready(function(){
    $('#btn_login').click(function() {
        let res = $.post("{% url 'app:api_login' %}", $('#form_login').serialize(), function(result) {
            if(!result.errors) {
                location.href = "{% url 'app:home' %}";
            }        
            else {
                $("#error").html(result.errors)
            }
        });
    });

});
</script>

{% if user.is_active %}
<a href="{% url 'app:logout' %}">로그아웃</a>

{% else %}

<form method="post" action="{% url 'app:login' %}" id="form_login">
{% csrf_token %}
{% form form=form %} {% endform %}
<input type="hidden" name="next" value="" />
<p id ="error" class="error">
</p>
<button type="button" name="button" class="btn" id="btn_login">LOGIN</button>
</form>

{% endif %}
{% endblock %}