{% extends 'base.html' %}
{% load material_form %}
{% block title %}
Sign up
{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <button type="submit" name="_submit" class="btn">SignUp</button>
  </form>
{% endblock %}