{% load static %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

<head>

       
</head>
<body>
    <div class="page-header">
    <nav>
        <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Doc Reader</a>
                
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li class="left waves-effect"><a href="{% url 'app:documents_upload'%}" >Upload</a></li>
            <li class="left waves-effect"><a href="{% url 'app:documents_list'%}" >List</a></li>
        </ul>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if not request.user.is_premium %}
            <li class="left waves-effect"><a href="{% url 'app:giftcode' %}">Secret Premium GIFT CODE</a></li>
            {% endif %}
            {% if not request.user.is_authenticated %}
            <li class="left waves-effect"><a href="{% url 'app:login' %}">Login</a></li>
            <li class="left waves-effect"><a href="{% url 'app:register' %}">Register</a></li>
            {% else %}
            <li class="left waves-effect">Hello {{request.user.username}} !</li>
            <li class="left waves-effect"><a href="{% url 'app:logout' %}">Logout</a></li>
            {% endif %}
        </ul>
        </div>
            
        </nav>
            
    </div>
    
    <div class="content container">
        
        <div class="row">
            
            <div class="col-md-8">
                <h3 class="blue-text">{% block title %}
                    {% endblock %}
                </h3>
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>