{% extends 'base.html' %}
{% block title %}
Premium GIFT CODE
{% endblock %}

{% block content %}
{% if request.user.is_admin %}
    {{request.user.gift_code}}
{% else %}
</p>
<p>
Only admin can read, please login admin, get your Gift code, and become PREMIUM User!
</p>
{% endif %}
<p>
If you have PREMIUM GIFT Code, Submit!
</p>
<form method="post" action="." id="form_giftcode">
{% csrf_token %}
    <div class="input-field  required">
        <input id="id_code" type="text" name="code" value="" />
        <label for="id_code" class="active">Code</label>
        {{ form.as_p }}
    </div>
    <div class="error">

        {{ message }}
    </div>
    <button type="submit" name="_submit" class="btn">Submit</button>
</form>
{% endblock %}